body {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #F4F1DE;
}

#calcBtnContainer {
    display: grid;
    width: 500px;
    height: 600px;
    grid-template-columns: auto auto auto auto;
    column-gap: 5px;
    row-gap: 5px;
}

#ac {
    grid-column: span 3;
}

#equals {
    grid-column: span 2;
}

#calcBtnContainer>button{
    background-color: #E07A5F;
    font-size: 40px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
}

#calcBtnContainer>button:hover {
    background-color:crimson;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultbox {
    background-color: #81B29A;
    margin-bottom:20px;
    width: 490px;
    height:106px;
    text-align: center;
    align-items: center;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    font-size: 60px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#result{
    text-align: center;
    padding:5px 0px 5px;
}

h1 {
    margin:40px;
}
