body {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', 'Righteous', cursive;
    background-color: #F4F1DE;
    margin:0;
}

#calculator {
    padding: 20px;
    padding-top: 0px;
    margin-top:0px;
    border-style:solid;
    border-width: 10px;
    border-radius: 10px;
    background-color: #65b990;
    filter:drop-shadow(0px 20px 10px grey, 0px 20px 10px red)
}

#calclabel {
    padding:7px 0px 7px;
}

#labelbox {
    font-size: 60px;
    font-weight: 200;
    display:flex;
    padding:10px 0px 10px;
    width:500px;
    justify-content: space-between;

}

#calcBtnContainer {
    display: grid;
    width: 500px;
    height: 600px;
    grid-template-columns: auto auto auto auto;
    column-gap: 5px;
    row-gap: 5px;
}

#equals,#ac {
    grid-column: span 2;
}

#calcBtnContainer>button {
    font-family: 'Open Sans', 'Righteous', cursive;
    font-size: 40px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;

}

#ac,#equals {
    background-color: #3D405B;
    color: #F4F1DE;
}

#ac:hover,#equals:hover {
    animation-name: acequalshover;
    animation-duration: .25s;
    background-color: #F2CC8F;
    color: black;
}

@keyframes acequalshover {
    from {background-color: #3D405B; color: white;}
    to {background-color:#F2CC8F; color: black;}
}

.number{
    background-color: #E07A5F;
}

.number:hover {
    animation-name: numberhover;
    animation-duration: .25s;
    background-color: #606278;
}

@keyframes numberhover {
    from {background-color: #E07A5F;}
    to {background-color:#606278;}
}

.operator {
    background-color: #F2CC8F;
    
}

.operator:hover {
    animation-name: operatorhover;
    animation-duration: 0.25s;
    background-color:#606278;
    
}

@keyframes operatorhover {
    from {background-color: #F2CC8F;}
    to {background-color:#606278;}
}


#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultbox {
    background-color: #E07A5F;
    margin-bottom:20px;
    width: 480px;
    height:106px;
    text-align: center;
    align-items: center;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    font-size: 60px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(135deg, #c45335, #E07A5F, #E07A5F);
}

#result{
    text-align: center;
    padding:5px 0px 5px;
}

img {
    height: 80px;
    width: 80px;
    filter:drop-shadow(2px 2px 2px grey)
}

#imgbox {
    background-color: lightgray;
    border-style:solid;
    border-width:5px;
    width:80px;
    height:80px;

}

#messagebox {
    height: 75px;
    display: flex;
    align-items: center;
    margin: 30px 0px 10px;
}

#message {
    font-size: 30px;
    padding:5px;
    border-style: solid;
    background-color:#F2CC8F;
    animation-name: message;
    animation-duration: 2s;
    animation-iteration-count: infinite, 1;
}

@keyframes message {
    0% {font-size: 30px; transform: rotate(0deg); background-color:cyan;}
    25% {font-size: 40px; transform: rotate(8deg); background-color: rgb(253, 140, 248);}
    50% {font-size: 30px; transform: rotate(0deg); background-color: rgb(146, 255, 146);}
    75% {font-size: 40px; transform: rotate(-8deg); background-color: rgb(248, 255, 156);}
    100% {font-size: 30px; transform: rotate(0deg); background-color: cyan;}
}

@keyframes fade {
    from {height:75px;}
    to {height:0px;}
}

@keyframes textfade {
    from {font-size:30px; border-width: 5px;}
    to {font-size: 0px; border-width: 0px;}
}

@keyframes test {
    from {background-color:red}
    to {background-color: blue;}
}

#backimg {
    height: 40px;
    width:auto;
}

#backspace {
    padding:1px 0px;
}